In [20]:
import pandas as pd
import numpy as np
from feature_engine import categorical_encoders as ce
from sklearn.model_selection import train_test_split


from sklearn import preprocessing
from sklearn.linear_model import LinearRegression


def EDALUCIO (df, order):
    eda_df = {}
    eda_df['Amount_NaN'] = df.isnull().sum()
    eda_df['%_NaN'] = df.isnull().mean().round(2)
    eda_df['DType'] = df.dtypes
    eda_df['Amount_Data'] = df.count()
    
    if order == True:
        colunas = sorted(df.columns.tolist(), key=str.lower, reverse=False)
    else:
        colunas = df.columns.tolist()
    eda_df['Amount_Unique'] = filtered_result = list(map(lambda x: len(df[x].unique().tolist()), colunas))
    
    eda_df['Mean'] = np.round(df.mean(), 2)
    eda_df['Median'] = np.round(df.median(), 2)
    
    eda_df['Max'] = df.max()
    eda_df['Min'] = df.min()
    eda_df['STD'] = np.round(df.std(), 2)
    
    return pd.DataFrame(eda_df)

In [42]:
df = pd.read_csv("CarPrice_Assignment.csv")
#df.head()
#EDALUCIO(df, True)

In [43]:
#df.describe()
#df.dtypes

In [44]:
df.CarName.unique()#remover
df.fueltype.unique()#binary
df.aspiration.unique()#binary
df.doornumber.unique()#binary
df.carbody.unique()#frequency or damies
df.drivewheel.unique()#frequency or damies
df.enginelocation.unique()#binary
df.enginetype.unique()#frequency
df.cylindernumber.unique()#corresponde a um valor maior que outro o que fazer
df.fuelsystem.unique()#frequency

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [45]:
seda = EDALUCIO(df, True)
info  = seda.loc[seda['DType']=='object']
info

,Amount_NaN,%_NaN,DType,Amount_Data,Amount_Unique,Mean,Median,Max,Min,STD
CarName,0,0.0,object,205,2,NaN,NaN,vw rabbit,Nissan versa,NaN
aspiration,0,0.0,object,205,38,NaN,NaN,turbo,std,NaN
carbody,0,0.0,object,205,49,NaN,NaN,wagon,convertible,NaN
cylindernumber,0,0.0,object,205,7,NaN,NaN,two,eight,NaN
doornumber,0,0.0,object,205,2,NaN,NaN,two,four,NaN
drivewheel,0,0.0,object,205,3,NaN,NaN,rwd,4wd,NaN
enginelocation,0,0.0,object,205,2,NaN,NaN,rear,front,NaN
enginetype,0,0.0,object,205,7,NaN,NaN,rotor,dohc,NaN
fuelsystem,0,0.0,object,205,8,NaN,NaN,spfi,1bbl,NaN
fueltype,0,0.0,object,205,2,NaN,NaN,gas,diesel,NaN

In [46]:
df['brand'] = df['CarName'].str.split(" ").str[0]
df['model'] = df['CarName'].str.split(" ").str[1]
del df["car_ID"]
del df["CarName"]
#Transformando
#Replace de valores binários
#df.loc[(df.fueltype == 'gas'),'fueltype']='0'
#df.loc[(df.fueltype == 'diesel'),'fueltype']='1'
df['fuel_binario'] = np.where(df['fueltype'] == 'gas', 1, 0)
#-----------------------------------------------
#df.loc[(df.aspiration == 'std'),'aspiration']='0'
#df.loc[(df.aspiration == 'turbo'),'aspiration']='1'
df['aspiration_binario'] = np.where(df['aspiration'] == 'std', 1, 0)
#-----------------------------------------------
#df.loc[(df.doornumber == 'two'),'doornumber']='0'
#df.loc[(df.doornumber == 'four'),'doornumber']='1'
df['doornumber_binario'] = np.where(df['doornumber'] == 'two', 1, 0)
#-----------------------------------------------
#df.loc[(df.enginelocation == 'front'),'enginelocation']='0'
#df.loc[(df.enginelocation == 'rear'),'enginelocation']='1'
df['enginelocation_binario'] = np.where(df['enginelocation'] == 'front', 1, 0)
#------------------------------------------------


del df['fueltype']
del df['aspiration']
del df['doornumber']
del df['enginelocation']
#Convertendo colunas para int
#df.fueltype       = pd.to_numeric(df.fueltype, errors='raise')
#df.aspiration     = pd.to_numeric(df.aspiration, errors='raise')
#df.doornumber     = pd.to_numeric(df.doornumber, errors='raise')
#df.enginelocation = pd.to_numeric(df.enginelocation, errors='raise')
#-----------------------------------------------
df = pd.get_dummies(df, columns=['carbody', 'drivewheel'])
df.dtypes
#------------------------------------------------------------

encoder = ce.CountFrequencyCategoricalEncoder(encoding_method='frequency',
                         variables=['enginetype', 'fuelsystem', 'cylindernumber' ,'brand', 'model'])

In [47]:
#is_NaN = df. isnull()
#row_has_NaN = is_NaN. any(axis=1)
#rows_with_NaN = df[row_has_NaN].model = ""
#print(rows_with_NaN)
df = df.dropna()
#df.dtypes
#is_NaN = df. isnull()
#row_has_NaN = is_NaN. any(axis=1)
#rows_with_NaN = df[row_has_NaN].model = ""
#print(rows_with_NaN)

In [48]:
Y = df["price"]
del df["price"]
X = df
#X = df.iloc[:, :-1].values
#Y = df.iloc[:, -1].values
x_columns = df.iloc[:, :-1].columns
y_column = df.iloc[:, -1].name
#X = pd.DataFrame(X, columns = x_columns)
#Y = pd.Series(Y, name = y_column)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=12)

In [51]:
EDALUCIO(df, True)

encoder.fit(X_train)
train_t = encoder.transform(X_train).fillna(0)
test_t = encoder.transform(X_test).fillna(0)
#test_t.head()

/Users/jocasiso/opt/anaconda3/lib/python3.7/site-packages/feature_engine/base_transformers.py:91: UserWarning: NaN values were introduced in the returned dataframe by the encoder.This means that some of the categories in the input dataframe were not present in the training set used when the fit method was called. Thus, mappings for those categories does not exist. Try using the RareLabelCategoricalEncoder to remove infrequent categories before calling this encoder.
  "NaN values were introduced in the returned dataframe by the encoder."

In [50]:
#definir o scaler
scaler = preprocessing.StandardScaler().fit(train_t.values)
x_train_norm = scaler.transform(train_t.values)
x_test_norm = scaler.transform(test_t.values)

In [52]:
reg = LinearRegression().fit(x_train_norm, y_train)
sc1 = reg.score(x_train_norm, y_train)

#reg = LinearRegression().fit(x_test_norm, y_test)
#sc2 = reg.score(x_test_norm, y_test)
print(sc1)

0.934024537614763

In [53]:
from sklearn.metrics import r2_score

y_pred = reg.predict(x_test_norm)
r2_score(y_test, y_pred)

0.7967462338156117