In [1]:
# important libraries
import numpy as np
import pandas as pd
import yaml

In [2]:
#parameters
with open('variaveis_notebook.yaml') as f:
    data = yaml.load(f, Loader=yaml.FullLoader)

In [3]:
data

{'caminho_dados': '/home/lucio/Área de Trabalho/DS05/Untitled Folder/',
 'nome_arquivo': 'teste_aula.csv',
 'coluna': 'coluna_21',
 'lista_teste': [1, 30, 4, 5, 'teste']}

In [5]:
df = pd.read_csv(data['nome_arquivo'])
df.head()

   nomes  idade  notas
0  Maria     20    8.0
1   José     18    7.5
2  Mário     30    8.5

In [ ]:
df2 = df[d]

In [6]:
data['lista_teste']

[1, 30, 4, 5, 'teste']

In [11]:
data['lista_teste'][0]

1